<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>227800710337-hp3f0f63rfq0j7vo6ojpv6eblepqgubo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.227800710337-hp3f0f63rfq0j7vo6ojpv6eblepqgubo</string>
	<key>API_KEY</key>
	<string>AIzaSyDJPtC74gyUqYKA6TENXHAgq4MHazuyq4I</string>
	<key>GCM_SENDER_ID</key>
	<string>227800710337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chateaApp</string>
	<key>PROJECT_ID</key>
	<string>chatea-c9190</string>
	<key>STORAGE_BUCKET</key>
	<string>chatea-c9190.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:227800710337:ios:36ff226eedd97f77d9e840</string>
</dict>
</plist>